*{
    margin: 0;
}

body{
    background-color: #0b0b0b;
}

.main{
    height: 100vh;
    background-color: rgba(3, 128, 20, 0.1);
    position: relative;
}

.main::before {
    background-image: url(../images/login_bg.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4;
}

#load-panel{
    visibility: hidden;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 20%;
    -webkit-transition: opacity 0.5s, visibility 0.5s; /* Safari */
    transition: opacity 0.5s, visibility 0.5s;
}

#load-panel h2{
    color: white;
    text-align: center;
}


.content{
    width: 55%;
    height: 60%;
    margin: auto;
    top: 18%;
    /* background-color: white; */
    position: relative;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.8);
}

.login-img{
    height: 100%;
    width: 50%;
    position: absolute;
    background-color: rgba(133, 108, 0, 0.294);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title{
    color:white;
    font-size: 380%;
    margin: 1em;
    margin-top: -1em;
    line-height: 0.9em;
}

.login-img h4{
    color:white;
    margin-left: 4em;
    margin-right: 4em;
}

.login-img::before {
    background-image: url('../images/login_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.9;
}

.actionable{
    right: 0;
    width:50%;
    height: 100%;
    background-color: #F0F0F0;
    position: absolute;
}

.actions{
    padding: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.actions h1{
    margin-bottom: 0.6em;
    margin-top: 0em;
}

.actions .pmp{
    opacity: 0.6;
}



.logo{
    display: none;
}

form{
    margin-top: 1em;
    width: 85%;
}



.group 			  { 
    position:relative; 
    margin-bottom:15px; 
}
input{
    background-color: transparent;
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
}
input:focus{ outline:none; }
  
  /* LABEL ======================================= */
label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
  
  /* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-8px;
    font-size:14px;
    color:#5264AE;
}
  
  /* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%; 
}
  
  /* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}
  
  /* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }



.sign-in{
    cursor: pointer;
    border-width: 0;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #27ae60;
    color: #fff;
    
    transition: background-color .3s;
}
  
.sign-in:hover, .sign-in:focus {
    background-color: #fff;
    color: #27ae60;
}

.sign-in span {
    display: block;
    padding: 10px 20px;
}

.btns{
      margin-top: 0.5em;
      display: flex;
      flex-direction: column;
  }

  .title-2{
      display: none;
  }


.google-button {
    margin-top: 1em;
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
}

.google-button:hover {
      box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
}

.google-button:active {
      background-color: #e5e5e5;
      box-shadow: none;
      transition-duration: 10ms;
}
      
.google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}
  
.google-button__icon--plus {
    width: 27px;
}
  
.google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
}

@media(max-width:1000px){
    .content{
        width: 80%;
    }
}

  
  @media(max-width:900px){
      .content{
          width: 100%;
          display: inline;
      }

      .login-img{
          display: none;
      }

      .main{
          width: 100%;
      }

      .main::before{
        filter: blur(3px);
        -webkit-filter: blur(3px);
      }

      .content{
          width: 100%;
          min-width: 100%;
          margin: 0px;
          color: white;
          position: inherit;
          background-color: #000;
      }

    .actionable{
          width: 100%;
          position: inherit;
          background-color: transparent;
    }

    .actions .btns{
            display: flex;
            flex-direction: column;
    }

    .actions .sign-in{
        border-radius: 5px;
    }

    
    .logo{
        display: block;
    }

    
    .title-2{
        display: block;
        font-size: 40px;
    }

    .login-pmp{
        font-size: 20px;
    }


  }