*{
    padding: 0px;
    margin: 0;
}

:root{
    --headerHeight: 25vh;
}

.clr{
    clear: both;
}

body{
    background-color: #f4f4f4;
}

.spacer{
    flex: auto;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 7%;
    margin-right: 7%;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0.2em;
    background-color: white;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.avatar{
    border-radius: 50%;
    border: 2px white solid;
}

.app-title{
    font-family: 'Acme', sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 3px;
    margin-left: 1em;
}

.navbar{
    background-color: #2BC86F;
    /* min-height: 7vh; */
    /* height: 7vh; */
    position: fixed;
    width: 100%;
    top: 0;
    /* overflow: hidden; */
    -webkit-box-shadow: 0 8px 6px -6px #000;
    -moz-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 8px 6px -6px #000;
    display: flex;
    padding: 0.8em;
    z-index: 1;
}


.new-post{
    display: block;
    margin-right: 3em;
    margin-left: 1em;
}

.page-header{
    /* background-image: url('../images/3865967-wallpaper-full-hd_XNgM7er.jpg'); */
    background: rgba(0, 0, 0, 0.575);
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
    min-height: 25vh;
    margin-top: 7vh;
}

.page-header::before {
    background-image: url('../images/3865967-wallpaper-full-hd_XNgM7er.jpg');
    background-size: cover;
    background-position: center;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 1;
    min-height: 25vh;
    max-height: 32vh;
}

.page-header .avatar{
    opacity: 0;
    margin-left: 12%;
    transform: translateY(15vh);
    border: 5px white solid;
    height: 150px;
    width: 150px;
    min-width: 150px;
    min-height: 150px;
    z-index: -2;
}

#about{
    margin-left: 5px;
}

.main-username{
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin-left: 1em;
}

.main-desc{
    font-size: 20px;
    font-weight: 200;
    color: white;
    margin-left: 1em;
}

.main-search {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #f4f4f4;
    border-radius: 48px;
    font-size: 14px;
    background-color: white;
    background-image: url('../images/searchIcon.png');
    background-position: 10px center; 
    background-repeat: no-repeat;
    padding: 5px 20px 5px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.main-search:focus {
    width: 350px;
    outline: none;
}

.btn{
    cursor: pointer;
    border-width: 0;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #fff;
    color: #27ae60;
    
    transition: background-color .3s;
  }
  
  .btn:hover, .btn:focus {
    background-color: #27ae60;
    color: white;
  }

  .btn span {
    display: block;
    padding: 10px 20px;
  }


  .modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.comment{
    padding: 0.6em;
    display: flex;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.comment .avatar{
    height: 50px;
    width: 50px;
}

.comment .comment-vert{
    padding: 5px;
    padding-left: 10px;
    flex: auto;
}

.comment-text{
    margin-top: 0.5em;
}

#comments-list{
    overflow-y: scroll; 
    height:400px;
}


#comments-modal .modal-content{
    background-color: white;
    border-radius: 0.5em;
    max-width: 30%;
}

#comments-modal h2{
    color:#27ae60;
}

#comments-modal hr{
    opacity: 0.2;
    margin-top: 10px;
}


#comments-modal .btn{
    margin-top: 10px;
    cursor: pointer;
    width: 100px;
    border-width: 0;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #27ae60;
    color: white;
    
    transition: background-color .3s;
    float: right;
  }
  
  #comments-modal .btn:hover, .btn:focus {
    background-color: #fff;
    color: #27ae60;
  }

  #comments-modal .btn span {
    display: block;
    padding: 10px 20px;
  }

.reply {
    margin-top: 1em;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #f4f4f4;
    border-radius: 8px;
    font-size: 14px;
    text-align: top;
    padding: 5px 20px 5px 20px;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.reply:focus {
    height: 80px;
    outline: none;
    border: 2px solid #27ae60;
}





.dropdown {
    float: left;
}

.dropdown .icon{
    margin-right: 1em;
    opacity: 0.5;
}

.dropdown .dropbtn {
    cursor: pointer;
    margin-left: 10px;  
}


.dropdown-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-right: 3em;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid #f4f4f4;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


@media(max-width:600px){

    .main-grid{
        margin-left: 0%;
        margin-right: 0%;
        width: 94%;
    }

    .main-search{
        display: none;
    }

    #list{
        align-items: stretch;
        justify-items: center;
        grid-column: 1/5;
        grid-row-start: 2;
        margin-top: 3em;
    }

    .page-header{
        display: none;
    }

    .page-header .avatar{
        margin-left: 8%;
        transform: translateY(5vh);
        border: 5px white solid;
        height: 100px;
        width: 100px;
    }


    .dropbtn {
        margin-right: 2em;
    }

    .navbar{
        background-color: white;
        color: black;
    }

    .app-title{
        color: black;
    }
    
    #comments-modal .modal-content{
        max-width: 100%;
    }

    #comments-list{
        height: 50vh;
    }

    
    .modal-content {
        width: 80%;
    }


    .new-post{
        display: none;
    }

}